.name {
  width: 128px;
}

.nav-ul {
  text-decoration: none;
  color: #fff;
}

a:hover {
  background: hsla(0, 100%, 90%, 0.6);
  border-radius: 10px;
  color: #000;
}

main img {
  width: 100%;
}

.footer-img {
  width: 50px;
}

footer {
  background-color: #000;
}
